main{
    background-color: rgb(155, 229, 44, 0.6);
    border: 2px solid rgb(85, 92, 82);
    width: 40vw;
    margin: auto;


}

img{
    width: 100%;
    height: 30%;
    border-bottom:2px solid rgb(85, 92, 82); 
    
}


h2, #description {
    margin: 5%;
    text-align: justify;
    word-wrap: break-word;
}

h2 {
    color: green;
}

#card{
    border-bottom:2px solid rgb(85, 92, 82); 

}

#text{
    border-bottom:2px solid rgb(85, 92, 82); 
}

#one, #two, #three{
    margin: 5%;
}

#links {
    margin: 10%;
    margin-left: 5%;
}

a{
    color: rgba(4, 108, 4, 0.875);
    text-decoration-line: none;
}

a:hover{
    color: rgb(255, 65, 7);
}


